{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<br><br><br>
  
<div class="card text-center fs-1">
    <div class="card-body">
    Bonjour {{ user.FirstName }}
    <h5><em>Bienvenue sur votre tableau de bord. Vous pouvez en un clic éditer vos coordonnées, consulter l'historique de vos emprunts ainsi que vos locations de salles et gérer votre abonnement!</em></h5>
    </div>
</div>


<table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.LastName }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user.FirstName }}</td>
            </tr>
            {# <tr>
                <th>Birthdate</th>
                <td>{{ user.Birthdate ? user.Birthdate|date('Y-m-d') : '' }}</td>
            </tr> #}
            <tr>
                <th>Address</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>ZipCode</th>
                <td>{{ user.ZipCode }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ user.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card h-100">
      <img alt="..." class="card-img-top" src="https://i.postimg.cc/bvPy510V/ouvrir-voler-vieux-livres.jpg">
      <div class="card-body">
        <h5 class="card-title">Vos coordonnées</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Editer</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <img alt="..." class="card-img-top" src="https://i.postimg.cc/bvPy510V/ouvrir-voler-vieux-livres.jpg">
      <div class="card-body">
        <h5 class="card-title">Vos livres</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img alt="..." class="card-img-top" src="https://i.postimg.cc/bvPy510V/ouvrir-voler-vieux-livres.jpg">
      <div class="card-body">
        <h5 class="card-title">Vos salles</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <img alt="..." class="card-img-top" src="https://i.postimg.cc/bvPy510V/ouvrir-voler-vieux-livres.jpg">
      <div class="card-body">
        <h5 class="card-title">Votre abonnement</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Editer</a>
      </div>
    </div>
  </div>
</div>


    <a href="{{ path('app_profile_edit') }}">edit</a>

  
{% endblock %}
