{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}


<div class="container">

<h2>Livres disponibles</h2>
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Année de publication</th>
            <th>Résumé</th>
            <th>Note</th>
            <th>État</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td><img class="listImage" src="{{book.image}}" alt="image {{book.title}}"></td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.publicationYear}}</td>
            <td>{{book.summary}}</td>
            <td>{{book.globalRating}}</td>
            <td>{{book.state.name}}</td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
